<div class="container" [class.light-blue-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">
    <button *ngIf="auth.user | async" class="side-toggle" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{title}}</span>

    <span fxFlex></span>

    <app-search *ngIf="auth.user | async"></app-search>

    <span fxFlex></span>
      
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu" *ngIf="auth.user | async">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openNewItemDialog()">
        <mat-icon>create_new_folder</mat-icon>
        <span>New</span>
      </button>      
      <button mat-menu-item routerLink="login">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle 
          [checked]="isDarkTheme"
          color="primary"
          (change)="changeTheme()">
          Night Mode
        </mat-slide-toggle>
      </button>      
    </mat-menu>  
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="over" [opened]="isSidenavOpen" (openedChange)="toggleNav($event)"  class="sidenav">
      <mat-nav-list class="nav-list">
        <mat-list-item  routerLink="/">
          <mat-icon color="primary" matListIcon>home</mat-icon>
          <a [style.outline]="'none'" matLine>Home</a>
        </mat-list-item>    

        <mat-list-item routerLink="login" (click)="sidenav.close()">
          <mat-icon color="primary" matListIcon>exit_to_app</mat-icon>
          <a [style.outline]="'none'" matLine>Logout</a>
        </mat-list-item>

        <mat-list-item (click)="openNewItemDialog()">
          <mat-icon color="primary" matListIcon>create_new_folder</mat-icon>
          <a matLine>New</a>
        </mat-list-item>

        <mat-list-item [style.bottom]="network.isOnline ? '0px' : '50px'" style="position:absolute;width:100%">
          <mat-slide-toggle
            #themeToggle
            labelPosition="before"
            [checked]="isDarkTheme"
            color="primary"
            (change)="changeTheme()">
            Night Mode
          </mat-slide-toggle>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content> 
  </mat-sidenav-container>

  <button *ngIf="auth.user | async" mat-fab class="add-fab" color="primary" matTooltip="add new" (click)="openNewItemDialog()">
    <mat-icon aria-label="add">add</mat-icon>
  </button>     

  <div *ngIf="!network.isOnline" [@fadeInOut] class="offline-notification">
    <mat-icon>offline_bolt</mat-icon> Offline; Please check your connection.
  </div>
</div>
